/*Opciones generales para aplicar en todo el ambiente*/

* {
  font-family: "Merriweather Sans", sans-serif;
}

body {
  background-color: #ffd791;
}

/*Manipulacion para el header y sus respectivos elementos en este*/
header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.MenuOpciones p {
  width: 9%;
}
.head-titulo {
  display: block; 
  cursor: pointer;
  color: black;
  padding: 0;
  text-decoration: none;
}
.head-titulo:hover {
  color: #000;
}
.MenuOpciones {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1% 5%;
}
.MenuOpciones nav {
  width: 25%;
}
.MenuOpciones nav a,
.MenuOpciones a {
  position: relative;
  padding: 0 5%;
  text-decoration: none;
  color: #5d4954;
  font-size: larger;
}
.MenuOpciones a:hover {
  color: #d08515;
}
.MenuOpciones nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 65%;
  height: 2px;
  background: black;
  border-radius: 5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
.MenuOpciones nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.MenuOpciones p {
  font-size: x-large;
}

/*Sub menu del header*/
.menuCuentaH {
  list-style: none;
}
.menuCuentaH > li > a {
  display: block;
}
.menuCuentaV {
  position: absolute;
  display: none;
  padding: 0;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
}
.menuCuentaV li:hover {
  background-color: aliceblue;
}
.menuCuentaH li:hover .menuCuentaV {
  display: block;
}
/*Contenido de informacion para la pantalla principal*/
.port {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
}
.port-cont {
  width: 40%;
}

footer {
  display: flex;
  justify-content: center;
  font-size: large;
}

/*Tabla inventario*/
.table-container {
  position: relative;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-button {
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.action-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination button {
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}

.pagination .active {
  background: black;
  color: white;
}

/* Estilo del modal inventario*/
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}